.app-toolbar-filler {
  flex: 1 1 auto;  
}
.mat-button:not([disabled]):hover {
    color:white;
}
.greyfield-header {
  font-size: 50px;
  font-weight: 300;
  margin: 0;
  padding: 50px;
  padding-bottom: 0px;
}

md-tabs.noTabPanel md-tabs-wrapper {
    display: none !important;
}